#archive
	.post-list
		padding: 0
		.desc-item
			color: #555
			font-style: italic
			list-style-type: none
			margin-bottom: 1rem
		.post-item
			list-style-type: none
			margin-left: 0
			margin-bottom: 1rem
			.meta
				display: block
				font-size: 14px
				color: #666
				min-width: 100px
				margin-right: 16px


	@media (min-width: 480px)
		.post-list
			.desc-item
				list-style-type: none
				margin-left: 132px
				margin-bottom: 1rem
			.post-item
				display: flex
				margin-left: 1rem
				margin-bottom: 5px
				.meta
					text-align: left

